.playlist-card {
    border-radius: 5px !important;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    background-color: #282828 !important;
    color: #ffffff !important;
}

.playlist-card .btn-open-playlist {
    background-color: #6367a4 !important;
    border: 0 !important;
    color: #ffffff !important;
}

.light-mode .playlist-card {
    background-color: #dfdee6 !important;
    color: #000000 !important;
}

.light-mode .playlist-card .btn-open-playlist {
    background-color: #494e88 !important;
}

.btn-delete-playlist {
    color: #ffffff !important;
    background-color: #f71717 !important;
    border: 1px solid #ec1010 !important;
    margin-left: 10px;
}