.audio-player {
    background: #575757;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    padding: 1.2%;
    max-width: 90vw;
    margin: 1rem auto;
    padding-right: 20px;
}

.track-info {
    display: flex;
    align-items: center;
    padding-right: 30px;
    float: left;
    width: 30%;
}

.track-image {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin-right: 1rem;
    object-fit: cover;
}

.progress-bar {
    box-sizing: border-box;
    height: 6px;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 1rem;
    width: 70%;
    background: #34418a !important;
}

.progress {
    height: 100%;
    border-radius: 3px;
    width: 45%;
    transition: width 0.1s linear;
    border: 0;
}

.progress-handle {
    width: 16px;
    height: 16px;
    background-color: #4d5497;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: transform 0.2s ease;
}

.progress-handle:hover {
    transform: translate(-50%, -50%) scale(1.2);
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.control-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #ffffff;
    transition: all 0.2s ease;
}

.control-button:hover {
    transform: scale(1.1);
    color: #4d5497;
}

.play-button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #6367a4;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    border: 0;
}

.play-button:hover {
    transform: scale(1.1);
    background-color: #4d5497;
}

.volume-control {
    display: flex;
    align-items: center;
    gap: 10px;
}

.volume-slider {
    width: 80px;
    height: 4px;
    background-color: #e9ecef;
    border-radius: 2px;
    position: relative;
    cursor: pointer;
}

.volume-level {
    height: 100%;
    background-color: #34418a;
    border-radius: 2px;
    width: 70%;
}

.time-info {
    color: #6c757d;
    font-size: 0.875rem;
    font-weight: 500;
}

.marquee {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

.marquee span {
    display: inline-block;
    animation: marquee 15s linear infinite;
}

.track-info-text {
    width: calc(100% - 100px);
}

@media screen and (max-width: 770px) {
    .track-info-text {
        display: none !important;
    }

    .volume-control {
        display: none !important;
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(0%);
    }
}

.light-mode .audio-player {
    background: #c6c5cb;
}

.light-mode .control-button {
    color: #6f6f72;
}

.light-mode .progress-bar {
    border: 0 !important;
}